<div class="table-wrapper">
  <table class="task-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th *ngIf="enableActions">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of paginatedTasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.duedate | date: 'mediumDate' }}</td>
        <td>{{ task.priority }}</td>
        <td *ngIf="enableActions">
          <button class="edit-btn" (click)="onEdit(task.id)">Edit</button>
          <button class="delete-btn" (click)="onDelete(task.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="tasks.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[2, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
