<nav class="navbar">
  <div class="container">
    <div class="left-nav">
      <img src="assets/images/t-new.jpg" alt="App Logo" class="logo" />
      <ul class="nav-links">
        <li *ngIf="userRole === 'Admin'">
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
          <a routerLink="/tasks" routerLinkActive="active">My Tasks</a>
        </li>
        <li>
          <a routerLink="/create-task" routerLinkActive="active">Create Task</a>
        </li>
      </ul>
    </div>

    <div class="right-nav">
      <a routerLink="/logout" routerLinkActive="active" class="logout-link">Logout</a>
    </div>
  </div>
</nav>
