<div [formGroup]="form">
  <mat-form-field [class]="class" appearance="outline" [class.disabled]="formControlModel.isDisable">
    <mat-label>{{ formControlModel.label }}</mat-label>

    <textarea matInput
              [rows]="rows"
              class="textarea"
              [formControlName]="formControlModel.key"
              [id]="formControlModel.key"
              [value]="formControlModel.value"
              (input)="onChange($event)"
              [readonly]="formControlModel.isDisable">
    </textarea>

    @if (formControlModel.displayIcon) {
      <mat-icon matSuffix (click)="onIconClick($event)">
        {{ formControlModel.iconName }}
      </mat-icon>
    }

    <mat-error>
      {{ _validator.getError(form, formControlModel.key, formControlModel) }}
    </mat-error>
  </mat-form-field>
</div>
